body {
  font-family: sans-serif;
  background: whitesmoke;
}

h1 {
  font-size: 30px;
  color: blueviolet;
  text-align: center;
}

input[type=number] {
  width: 300px;
  font-size: 1rem;
}

input[type="button"] {
  border: 0;
  background: whitesmoke;
  display: block;
  margin: 20px auto;
  border: 5px solid rebeccapurple;
  padding: 15px 10px;
  width: 200px;
  outline: none;
  color: blueviolet;
  border-radius: 25px;
  transition: 0.25s;
  text-align: center;
  cursor: pointer;
}

/* ↓ここから別に書く（重要） */

#splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: #00ffcc;
  font-family: monospace;
  z-index: 9999;
  overflow: hidden;
}

#splash::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    to bottom,
    rgba(0,255,200,0.05) 0px,
    rgba(0,255,200,0.05) 2px,
    transparent 2px,
    transparent 4px
  );
  pointer-events: none;
}

.terminal {
  padding: 20px;
  font-size: 40px;
  white-space: pre-line;
}

.fade-out {
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
